*{
    margin: 0px;
    padding: 0px;
    font-family: 'Fauna One', serif;
}
html{
    scroll-behavior: smooth;
}
.landingPage{
    height: 100vh;
}

/* navigation bar  */
nav{
    display: flex;
    background-color: #000000ad;
}
h1{
    font-family: 'Playfair Display', serif;
}
nav div{
    display: flex;
    margin-left: auto;
}
nav a{
align-self: center;
padding: 15px;
text-decoration: none;
padding-right: 10px;
font-family: 'Playfair Display', serif;
}
#brandName{
    padding: 15px;
}

/* baground image with photo and information  */

.bg::before{
    background: url('https://source.unsplash.com/1600x900/?programming,laptop') no-repeat center center/cover;
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
}

.bg-profile img{
display: block;
width: 5em;
height: 5em;
margin: auto;
padding: 30px;
border-radius: 100%;
}
.btn{
    display: flex;
    justify-content: center;
    padding-top: 30vh;
}
.btn button{
    cursor: pointer;
    padding:10px;
    border-radius: 23px;
    background-color:#ADEFD1FF;
    color: #00203FFF;
    margin-right: 55px;
}

.container{
    position: absolute;
    top: 100vh;
}

/* projects section  */
.container{
    height: 100vh;
    width: 100%;
    background-color: #00203FFF;
}
.container h1{
    padding-top: 5vh;
}

.projects-list{
display: flex;
justify-content: space-around;
padding-top: 25vh;
}
.project-1:hover,
.project-2:hover,
.project-3:hover{
    
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1); 
      
}

@media only screen and (max-width: 1100px) {
    .projects-list{
        flex-direction: column;
        padding-top: 10vh;
    }
    .project-1{
        margin: 20px 0px;
    }
    .project-2{
        margin: 20px 0px;
    }
    .project-3{
        margin: 20px 0px;
    }
    .container{
        height: max-content;
    }
}

/* Image size reference  */
/* .projects-list img{
    width: 320px;
    height: 210px;
} */


/* common classes */
.white{
    color: white;
}
.center{
    text-align: center;
}
.card{
    border: 2px solid black;
    background-color: #ADEFD1FF;
    padding: 10px;
    border-radius: 13px;
    color: #00203FFF;
}
